# MacOS
.DS_Store
Thumbs.db

# NPM
node_modules/
npm-debug.log
yarn-error.log

# Application
lib
dist

# VSCode
.vscode/

# Lerna
lerna-debug.log
yerna.log

# awesome-typescript-loader
.awcache

# Testing
coverage
test-report.xml
.jest-cache

# IntelliJ
.idea/
*.ipr
*.iws
*.iml
out/

build
__generated__
